<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/navbar :: head">
    <title>Show</title>
</head>
<body>
<nav th:replace="partials/navbar :: exercise-navbar"></nav>
<br>
<h4><strong>User Details:</strong></h4>
<h5>Created by: <em><span th:text="${singlePost.owner.username}"></span></em></h5>
<h5>User Email: <em><span th:text="${singlePost.owner.email}"></span></em></h5>

<br>
<h4><strong>Post Details:</strong></h4>
<h5>Title: <span th:text="${singlePost.title}"></span></h5>
<h5>Description: <span th:text="${singlePost.body}"></span></h5>
<form th:action="@{/posts/edit/{id}(id=${singlePost.id})}" method="GET">
<button type="submit">Edit Post</button>
</form>

<footer th:replace="partials/navbar :: footer"></footer>

</body>
</html>